<section class="product-list">
  <header class="product-list__header">
    <p class="product-list__header-title">Product List</p>
  </header>
  <article class="product-list__filter">
    <label for="product-list__filter-input" class="product-list__filter-title">
      Filter by:
    </label>
    <input
      id="product-list__filter-input"
      class="product-list__filter-input"
      placeholder="Enter product..."
    />
    <p>Filtered by {{ filter }}</p>
  </article>
  <article>
    <button>Show Image</button>
  </article>
</section>
