@import "../../styles.scss";

.products {
  margin: 24px 48px;
  border: 1px solid $grey-500;

  &__header {
    padding: 16px;
    width: 100%;
    background: $grey-100;
    border-bottom: 1px solid $grey-500;
    font: 500 18px/20px sans-serif;
  }

  &__filter {
    padding: 16px;

    &-label {
      margin-right: 36px;
    }

    &-input {
      padding: 4px;
      outline: 1px solid white;
    }

    &-details {
      font: 600 20px/24px sans-serif;
      margin-top: 6px;
    }
  }

  &__table {
    padding: 16px;
    display: grid;
    grid-template-columns: max-content 1fr;

    @media screen and (min-width: 992px) {
      display: block;
    }

    &-heading {
      padding: 8px;
      display: grid;
      align-items: center;
      justify-content: space-between;
      border-top: 1px solid $grey-500;
      grid-auto-rows: 48px;
      grid-auto-columns: 110px;

      @media screen and (min-width: 992px) {
        grid-template-columns: repeat(6, 110px);
      }

      &-button {
        color: $white;
        background: $blue-500;
        border: 2px solid $blue-500;
        border-radius: 4px;
        padding: 8px;
        justify-self: start;
        cursor: pointer;
        transition: 0.3s color, background;

        &:hover {
          background: $white;
          color: $blue-500;
        }
      }

      &-text {
        color: $blue-500;
        font-weight: 600;
      }
    }

    &-list {
      list-style: none;
      border-top: 1px solid $grey-500;
      display: flex;
      overflow-x: auto;

      @media screen and (min-width: 992px) {
        display: block;
        border-width: 2px;
      }

      &-item {
        flex: 1 0 175px;
        padding: 8px;
        display: grid;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $grey-500;
        grid-auto-rows: 48px;

        @media screen and (min-width: 992px) {
          grid-template-columns: repeat(6, 115px);
        }

        &-image {
          max-width: 48px;

          &:hover {
            animation: 2.3s infinite alternate full-rotation;
          }

          @media screen and (min-width: 992px) {
            justify-self: center;
          }
        }

        &-text {
          &--blue {
            color: $blue-500;
          }
        }
      }

      &-item:last-child {
        @media screen and (min-width: 992px) {
          border-bottom: none;
        }
      }
    }
  }
}
