@import url("~font-awesome/css/font-awesome.min.css");

$white: #ffffff;

$grey-100: #fcf8fc;
$grey-500: #dfdcdf;

$blue-100: #9ed2ff;
$blue-200: #9ed2ff;
$blue-500: #0c6dd5;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

main {
  margin: 0 auto;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
