@import url("~font-awesome/css/font-awesome.min.css");

.card-header {
  font-size: large;
}

.card {
  margin-top: 10px;
}

.table {
  margin-top: 10px;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
