<section class="card">
  <header class="card-header">
    {{pageTitle}}
  </header>

  <article class="card-body">
    <section class="container-fluid">
      <article class="text-center">
        <img src="./assets/images/logo.jpg"
             class="img-responsive center-block"
             style="max-height:300px;padding-bottom:50px" />
      </article>

      <p class="text-center">Developed by:</p>
      <p class="text-center">
        <h3>Silviya Stoyanova</h3>
      </p>

      <p class="text-center">@silviya-stoyanova</p>
      <p class="text-center">
        <a href="https://www.linkedin.com/in/silviya-stoyanova/">Find me on LinkedIn</a>
      </p>
    </section>
  </article>
</section>
